body {
    margin: 0;
    overflow: hidden;
    background-color: #ffffff;
}

input[type="range"]::-moz-range-thumb {
    width:10px;
    height:10px;
    border-radius: 6px;
    background: #d8e698;
    border-color: transparent;
    outline: none;
  }

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.a-slider {
    position: absolute;
    -webkit-appearance: none;
  
    background: none;
    height:10px;
    width:200px;
    border-radius: 8px;
    border: 2px solid #d8e698;
}

.b-slider {
    position: absolute;
    top: 30px;

    -webkit-appearance: none;
  
    background: none;
    height:10px;
    width:200px;
    border-radius: 8px;
    border: 2px solid #d8e698;
}

.a-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:12px;
    height:12px;
    border-radius: 6px;
    background: #d8e698;
    outline: none;
  }

.b-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:12px;
    height:12px;
    border-radius: 6px;
    background: #d8e698;
    outline: none;
  }

.slider-container {
    position: absolute;
}
