body {
    margin: 0;
    overflow: hidden;
    background-color: #55a35e;
}

.project-container {
    display: flex;
    flex-direction: row;
}

.fitline {

}

.paraboloid {
    
}

.a-slider {
    position: absolute;

}

.b-slider {
    position: absolute;
}

.stepper-buttons {
    width: 90px;
    height: 45px;
    position: absolute;
}
