body {
    margin: 0;
    overflow: hidden;
    background-color: #131626;
}

.project-container {
    position: relative;
}

.fitline {
    position: relative;
}

.paraboloid {
    position: absolute;
    left: 55%;
    top: 20%;
}

.a-slider {
    position: absolute;
    left: 70%;
    top: 90%;
}

.b-slider {
    position: absolute;
    left: 80%;
    top: 90%;
}

.stepper-buttons {
    width: 90px;
    height: 45px;
    position: absolute;
}
